name: Action-Test

run-name: "Action-Test - [${{ github.event.pull_request.title }} #${{ github.event.pull_request.number }}] by @${{ github.actor }}"

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read

jobs:
  ActionTestBasic:
    name: Action-Test - [Basic]
    runs-on: ubuntu-latest
    steps:
      # Need to check out as part of the test, as its a local action
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Upload artifact from tests:
      - name: Upload artifact [Environments-macOS-CodeCoverage]
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Environments-macOS-CodeCoverage
          path: ./tests/CodeCoverage/Environments-macOS-CodeCoverage
          retention-days: 1
          if-no-files-found: error

      - name: Upload artifact [Environments-Windows-CodeCoverage]
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Environments-Windows-CodeCoverage
          path: ./tests/CodeCoverage/Environments-Windows-CodeCoverage
          retention-days: 1
          if-no-files-found: error

      - name: Upload artifact [Module-macOS-CodeCoverage]
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Module-macOS-CodeCoverage
          path: ./tests/CodeCoverage/Module-macOS-CodeCoverage
          retention-days: 1
          if-no-files-found: error

      - name: Upload artifact [Module-Windows-CodeCoverage]
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Module-Windows-CodeCoverage
          path: ./tests/CodeCoverage/Module-Windows-CodeCoverage
          retention-days: 1
          if-no-files-found: error

      - name: Upload artifact [MyTests-macOS-CodeCoverage]
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: MyTests-macOS-CodeCoverage
          path: ./tests/CodeCoverage/MyTests-macOS-CodeCoverage
          retention-days: 1
          if-no-files-found: error

      - name: Upload artifact [MyTests-Windows-CodeCoverage]
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: MyTests-Windows-CodeCoverage
          path: ./tests/CodeCoverage/MyTests-Windows-CodeCoverage
          retention-days: 1
          if-no-files-found: error

      - name: Action-Test
        uses: ./
        with:
          StepSummary_Mode: Full
          CodeCoveragePercentTarget: 50
